[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.18.4"
uritools = "==2.1.0"
redis = "==2.10.6"

[dev-packages]

[requires]
python_version = "3.6"
